img {
  max-width: 100%;
}

button {
  border: 0;
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.Main {
  text-align: center;
}

.Logo {
}

.Options {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: center;
}

.LeftColumn {
  width: 50%;
  padding: 0 10% 0 10%;

  display: flex;
  align-items: baseline;
  justify-content: center;
}

.RightColumn {
  width: 50%;
  padding: 0 10% 0 10%;

  display: block;
  justify-content: center;
}

.PlayerButtons {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Button {
  margin: 0 10% 0 10%;
  transition: filter 0.5s;
  filter: grayscale(75%);
}

.Button:hover {
  transition: filter 0.5s;
  filter: grayscale(0%);
}

.Reset {
  /* padding: 0 30% 0 30%; */
  width: 25%;
}

.Reset:active {
  filter: invert(100%);
}

.SpectatorButtons {
  width: 100%;
}

// #0cf055
